.v-application
  font-family: 'Staatliches', 'Open Sans', sans-serif

body
  font-family: 'Staatliches', 'Open Sans', sans-serif

.border-men
  border: 2px solid $color-men

.border-women
  border: 2px solid $color-women

.text-men
  color: $color-men

.text-women
  color: $color-women

.doubles-separator
  color: $color-doubles-separator