body
  background-color: #eee

h1
  font-size: 28pt
  font-weight: 600

h2
  font-size: 22pt
  font-weight: 600

h3
  font-size: 14pt
  font-weight: 400

h4
  font-family: 'Open Sans', sans-serif
  font-size: 12pt
  font-weight: 400

p
  font-family: 'Open Sans', sans-serif
  font-size: 12pt
  font-weight: 400

p.text-info
  font-style: italic