.v-application
  font-family: 'Staatliches', 'Open Sans', sans-serif

body
  font-family: 'Staatliches', 'Open Sans', sans-serif

.textMen
  color: $text-color-men

.textWomen
  color: $text-color-women

.doubles-separator
  color: $text-color-doubles-separator