.leaderboard-card
  padding-top: 0
  margin-bottom: 15px
  .container-leaders
    padding: 0
    .list-leaders
      padding: 0
      .row-leader
        padding: 0px 25px
        .container-avatar
          .avatar-men
            border: 2px solid $color-men
          .avatar-women
            border: 2px solid $color-women
        .leader-name
          font-size: 14pt
        .leader-total
          font-size: 14pt
        .leader-top
          font-size: 22pt
      .row-leader-divider
        border-bottom: 1px solid #e0e0e0
  .container-view-all
    padding: 0
    .btn-view-all
      width: 100%
      height: 50px