.container-player-stats
  height: 100%
  .toolbar-player-stats
    &.men
      color: $text-color-men
      background-color: $bg-color-men
    &.women
      color: $text-color-women
      background-color: $bg-color-women
  .toolbar-player-name
    font-size: 18pt
    font-weight: bold
  .row-player-stats
    margin: 0
    height: 100vh

.col-left
  padding: 30px 20px
  border-right: 2px solid #eee

.col-right
  padding: 30px
  .stats-left
    line-height: $bar-height
    font-weight: bold
  .stats-right
    .v-progress-linear
      height: $bar-height !important
  .row-last-played
    margin: 10px 0
