.player-row-singles
  border-bottom: 2px solid #aaa
  .col-player
    margin-top: 20px
    padding: 0
    .ranking
      position: absolute
      top: 0
      left: 35px
      font-size: 46px
    .col-avatar
      position: relative
    .col-info
      .row-player-info
        margin-top: 15px