.player-row
  border-bottom: 2px solid #eee
  .col-players
    position: relative
    padding: 0
  .ranking
    position: absolute
    top: 20px
    left: 20px
    font-size: 46px
  .col-avatars
    position: relative
    .avatar
      margin-left: 30px
