.player-row, .team-row
  border-bottom: 2px solid #aaa
  background-color: #fff
  .col-player, .col-team
    margin-top: 20px
    padding: 0
    .col-avatar, .col-avatars
      position: relative
    .col-info
      .row-player-info
        margin-top: 15px
  &:hover
    cursor: pointer
    background-color: #fff

.team-row
  .col-team
    position: relative
  .col-avatars
    .avatar
      margin-left: 30px
  .col-info
    padding-left: 50px
