.container-team
  padding: 0
  .col-info
    .row-player
      margin-bottom: 20px
      .row-player-info
        margin-bottom: 10px
  .col-stats
    .section
      margin-bottom: 30px
    .container-stats, .container-matches
      padding: 0
    .container-stats
      .stats-top
        margin-bottom: 10px
      .col-stat
        padding-left: 15px